#masterdiv {
    background-color: gray;
    height: 100%;

}
#gameboard {
    display: grid;
    grid-template-columns: repeat(9, 65px);
    grid-template-rows: repeat(8, 65px) ;
    justify-content: center;
  
}
#gameboard * {
    background-color: blanchedalmond;
    
}

#toprow {
    display: grid;
    grid-template-columns: repeat(9, 65px);
    grid-template-rows: repeat(1, 65px) ;
    justify-content: center;
    grid-auto-flow: column;
}

#toprow * {
    background-color: blanchedalmond;
   
}
#gameboard .black {
    background-color: red;
}


#gameboard #a1 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #b1 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #c1 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #d1 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #e1 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #f1 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #g1 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #h1 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}


#gameboard #a2{
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #b2{
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #c2{
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #d2{
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #e2{
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #f2{
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #g2 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #h2 {
    background-color: green;
border: 1px solid green;
position: relative;
}


#gameboard #a3 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #b3 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #c3 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #d3 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #e3 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #f3 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #g3 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #h3 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}


#gameboard #a4 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #b4 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #c4 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #d4 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #e4 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #f4 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #g4  {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #h4  {
    background-color: green;
border: 1px solid green;
position: relative;
}


#gameboard #a5 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #b5 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #c5 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #d5 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #e5 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #f5 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #g5 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #h5 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}


#gameboard #a6 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #b6 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #c6 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #d6 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #e6 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #f6 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #g6  {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #h6  {
    background-color: green;
border: 1px solid green;
position: relative;
}


#gameboard #a7 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #b7 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #c7 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #d7 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #e7 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #f7 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #g7 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #h7 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}


#gameboard #a8 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #b8 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #c8 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #d8 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #e8 {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #f8 {
    background-color: green;
border: 1px solid green;
position: relative;
}
#gameboard #g8  {
    background-color: blanchedalmond;
border: 1px solid green;
position: relative;
}
#gameboard #h8  {
    background-color: green;
border: 1px solid green;
position: relative;
}

#blkPawn7Aimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    cursor:grab;
    
}
#blkPawn7Aimg:active {
cursor:grabbing;
}

#blkPawn7Bimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    
}
#blkPawn7Cimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkPawn7Dimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkPawn7Eimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkPawn7Fimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkPawn7Gimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkPawn7Himg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}


#whtPawn2Aimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Bimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Cimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Dimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Eimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Fimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Gimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtPawn2Himg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}


#blkrook8Aimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkknight8Bimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkbishop8Cimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkqueen8Dimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkking8Eimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkbishop8Fimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkknight8Gimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#blkrook8Himg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}


#whtrook1Aimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtknight1Bimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtbishop1Cimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtqueen1Dimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtking1Eimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtbishop1Fimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtknight1Gimg {
    width: 40px;
    height: 40px;
    background-color:inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
}
#whtrook1Himg {
    width: 40px;
    height: 40px;
    background-color: inherit;
    padding-left: 10px;
    padding-top: 10px;
    position:absolute;
    
}
#x8 {
   display:grid;
   font-size: 17px;
   padding-top: 15px;
   justify-items: center;
   justify-content: right;
   color: rgb(85, 82, 82);
   margin-left: 25px;
}
#x7 {
    display:grid;
    font-size: 17px;
    padding-top: 15px;
    justify-items: center;
    justify-content: right;
    color: rgb(85, 82, 82);
    margin-left: 25px;
}
#x6  {
    display:grid;
    font-size: 17px;
    padding-top: 15px;
    justify-items: center;
    justify-content: right;
    color: rgb(85, 82, 82);
    margin-left: 25px;
}
 #x5 {
     display:grid;
     font-size: 17px;
     padding-top: 15px;
     justify-items: center;
     justify-content: right;
     color: rgb(85, 82, 82);
     margin-left: 25px;
}
#x4 {
    display:grid;
    font-size: 17px;
    padding-top: 15px;
    justify-items: center;
    justify-content: right;
    color: rgb(85, 82, 82);
    margin-left: 25px;
 }
 #x3 {
     display:grid;
     font-size: 17px;
     padding-top: 15px;
     justify-items: center;
     justify-content: right;
     color: rgb(85, 82, 82);
     margin-left: 25px;
 }
 #x2 {
     display:grid;
     font-size: 17px;
     padding-top: 15px;
     justify-items: center;
     justify-content: right;
     color: rgb(85, 82, 82);
     margin-left: 25px;
 }
  #x1 {
      display:grid;
      font-size: 17px;
      padding-top: 15px;
      justify-items: center;
      justify-content: right;
      color: rgb(85, 82, 82);
      margin-left: 25px;
 }


#row1X {
    margin-left: 25px;
    margin-bottom: 25px;
}
 #row1H {
    display:grid;
    font-size: 17px;
    justify-items: center;
    color: rgb(85, 82, 82);
    margin-bottom: 25px;
 }
 #row1G {
     display:grid;
     font-size: 17px;
     justify-items: center;
     color: rgb(85, 82, 82);
     margin-bottom: 25px;
 }
 #row1F  {
     display:grid;
     font-size: 17px;
     justify-items: center;
     color: rgb(85, 82, 82);
     margin-bottom: 25px;
 }
  #row1E {
      display:grid;
      font-size: 17px;
      justify-items: center;
      color: rgb(85, 82, 82);
      margin-bottom: 25px;
 }
 #row1D {
     display:grid;
     font-size: 17px;
     justify-items: center;
     color: rgb(85, 82, 82);
     margin-bottom: 25px;
  }
  #row1C {
      display:grid;
      font-size: 17px;
      justify-items: center;
      color: rgb(85, 82, 82);
      margin-bottom: 25px;
  }
  #row1B {
      display:grid;
      font-size: 17px;
      justify-items: center;
      color: rgb(85, 82, 82);
      margin-bottom: 25px;
  }
   #row1A {
       display:grid;
       font-size: 17px;
       justify-items: center;
       color: rgb(85, 82, 82);
       margin-bottom: 25px;
  }
  @media screen and (max-width: 700px) {
    #masterdiv{ 
  background-color: rgb(59, 16, 16);
  font-size:40px;
  color: blanchedalmond
}
}







